#include "mymenu.h"

MyMenu MENU {
    POPUP "&File" {
        MENUITEM "&Open file...", IDM_OPEN
        MENUITEM "&Close file", IDM_CLOSE
        MENUITEM "&Exit", IDM_EXIT
    }

    POPUP "&View" {
        MENUITEM "&Wrap OFF", IDM_WRAP_OFF
        MENUITEM "&Wrap ON", IDM_WRAP_ON
    }
}
